footer{
    background-color: #353535;
    color: white;
    display: flex;
   text-align: left;
   padding-bottom: 15px;
   margin-top: -60px;

    & .logofoot{
        font-family: $font-secondary;
        margin-left: 15px;
        margin-top: 15px;
    }

    & .description-footer-propriety{
       
        margin-left: 15px;
    }

    & .fas{
        margin-right: 5px;
    }
    & a {
        text-decoration: none;
        color:white ;
        padding-bottom: 15px;
    }
    & a:visited{
        text-decoration: none;
        color: white;
    }
}
@media (min-width: 668px)and(max-width: 992px) //**Tablette version**//
{
    footer{
        font-size: 25px;
        margin-top: -75px;
    }
}
