.headermenu{
    display: flex;
    flex-direction: row;
    text-decoration: none;

    & img{
        width: 150px;
        height: 35px;
    }
    & a{
        font-size: 25px;
        text-decoration: none;
        color: black;
        margin-top: 5px;
        margin-right: 70px;
        margin-left: 10px;
    }

    & a:visited{
        color: black;
       
    }
    
}
@media (min-width: 668px)and(max-width: 992px) //**Tablette version**//
{
    .headermenu{
        margin-top: 15px;
        margin-bottom: 5px;

        & img{
            width: 40%;
            height: 30%;
        }

        & a{
            font-size: 40px;
        }
    }
}