.btn-index {
  border: #9356DC 2px transparent;
  border-radius: 20px;
  width: 235px;
  margin-left: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(180deg, #e370da, #a05adc);
  color: white;
}

.btn-buy {
  border-radius: 20px;
  width: 120px;
  margin-top: 30px;
  margin-left: 115px;
  margin-bottom: 50px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(180deg, #e370da, #a05adc);
  color: white;
}

.headermenu {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.headermenu img {
  width: 150px;
  height: 35px;
}
.headermenu a {
  font-size: 25px;
  text-decoration: none;
  color: black;
  margin-top: 5px;
  margin-right: 70px;
  margin-left: 10px;
}
.headermenu a:visited {
  color: black;
}

footer {
  background-color: #353535;
  color: white;
  display: flex;
  text-align: left;
  padding-bottom: 15px;
}
footer .logofoot {
  font-family: "Shrikhand", cursive;
  margin-left: 15px;
  margin-top: 15px;
}
footer .description-footer-propriety {
  margin-left: 15px;
}
footer .fas {
  margin-right: 5px;
}
footer a {
  text-decoration: none;
  color: white;
  padding-bottom: 15px;
}
footer a:visited {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
}

.logo {
  display: block;
  margin: auto;
  width: 60%;
}

.marker-propriety {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  border-top: 5px solid #dbdbdb;
  margin-top: 10px;
  background-color: #eaeaea;
}
.marker-propriety i {
  margin-right: 5px;
}

.description-propriety {
  align-content: center;
  text-align: center;
  font-size: 20px;
  background-color: #f6f6f6;
  padding-top: 1px;
  padding-bottom: 35px;
}
.description-propriety h3 {
  font-size: 35px;
}

.rules-propriety {
  display: flex;
  flex-direction: column;
}
.rules-propriety h3 {
  margin-left: 10px;
}

.rulesblocpropriety {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  align-content: center;
  border-radius: 20px;
  background-color: #f6f6f6;
  margin-bottom: 25px;
  box-shadow: 5px 5px 5px 0px #e7e7e7;
  margin-right: 15px;
  margin-left: 5px;
}
.rulesblocpropriety i {
  font-size: 15px;
  margin-right: 10px;
  margin-left: 10px;
}

.nomber-propriety {
  border-radius: 50% 50% 50% 50%;
  background-color: #9356DC;
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 10px;
  margin-right: 5px;
  padding: 5px 10px 5px 10px;
}

.restaurant-card {
  display: block;
  justify-content: space-between;
  background-color: #f6f6f6;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 15px;
}
.restaurant-card h3 {
  margin-left: 15px;
  margin-top: 10px;
}
.restaurant-card h4 {
  font-size: 18px;
  font-weight: bolder;
  margin: 0;
}
.restaurant-card a {
  text-decoration: none;
  color: black;
}

.card-propriety {
  margin-left: 15px;
  margin-right: 15px;
  background-color: white;
  border: 1px solid white;
  border-radius: 10% 10% 10% 10%;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  box-shadow: 5px 5px 5px 5px #e7e7e7;
}
.card-propriety:visited {
  color: black;
}
.card-propriety img {
  height: 170px;
  border-radius: 10% 10% 0 0;
}
.card-propriety a {
  text-decoration: none;
  color: black;
}
.card-propriety i {
  justify-content: space-between;
}
.card-propriety .far {
  position: absolute;
  right: 40px;
}

.cardtext {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
  margin-top: 15px;
  font-size: 15px;
}

.new-propriety {
  border: solid 1px #99e2d0;
  padding: 5px 5px 5px 5px;
  position: absolute;
  top: 775px;
  right: 40px;
  background-color: #99e2d0;
  color: #0f9071;
}

.new-propriety2 {
  border: solid 1px #99e2d0;
  padding: 5px 5px 5px 5px;
  position: absolute;
  top: 1055px;
  right: 40px;
  background-color: #99e2d0;
  color: #0f9071;
}

body {
  margin: 0;
}

.bordermenu {
  background-color: #f2f2f2;
  height: 1040px;
}

.img-menu {
  width: 375px;
  height: 200px;
}

.titre-propriety {
  display: flex;
  justify-content: space-around;
  margin-left: 10px;
  margin-right: 15px;
  font-size: 25px;
  font-family: "Shrikhand", cursive;
}
.titre-propriety .far {
  font-size: 25px;
  margin-top: 30px;
}

.bloc-restaurant {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.bloc-restaurant-propriety {
  display: block;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5px;
  background-color: white;
  border-radius: 20px;
  margin-top: 5px;
}

.description-restaurant {
  margin-left: 15px;
  margin-top: 5px;
}
.description-restaurant h4 {
  margin-top: 0;
  font-size: 17px;
}
.description-restaurant p {
  margin-top: -20px;
  padding-bottom: 5px;
  font-size: 14px;
}

.restaurant-prix {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 10px;
  margin-top: -40px;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
