.btn-index{
    border: $color-primary 2px transparent;
    border-radius: 20px;
    width: 235px;
    margin-left: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(180deg, #e370da, #a05adc);
    color: white;
}
.btn-buy{
    border-radius: 20px;
    width: 120px;
    margin-top: 30px;
    margin-left: 115px;
    margin-bottom: 50px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(180deg, #e370da, #a05adc);
    color: white;
    }
@media (min-width: 668px)and(max-width: 992px){
    .btn-index{
        margin-left: 270px;
        width: 270px;
        margin-left: 200px;
    }
    .btn-buy{
        font-size: 40px;
        width: 160px;
        margin-top: 50px;
        margin-left: 190px;
        margin-bottom: 70px;
        padding-top: 10px;
        padding-right: 60px;
    }
}
@media (min-width: 993px)and(max-width: 1980px) //**Desktop version**//
 {
    .btn-index{
        margin-left: 270px;
        width: 270px;
        margin-left: 650px;
    }
    .btn-buy{
        font-size: 40px;
        width: 160px;
        margin-top: 50px;
        margin-left: 190px;
        margin-bottom: 70px;
        padding-top: 10px;
        padding-right: 60px;
    }
 }
