.btn-index{
    border: $color-primary 2px transparent;
    border-radius: 20px;
    width: 235px;
    margin-left: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(180deg, #e370da, #a05adc);
    color: white;
}
.btn-buy{
    border-radius: 20px;
    width: 120px;
    margin-top: 30px;
    margin-left: 115px;
    margin-bottom: 50px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(180deg, #e370da, #a05adc);
    color: white;
    }