body{
    margin: 0;
   
}
.img-menu{
    width: 375px;
    height: 250px;
  
}
.bordermenu{
    background-color: #f2f2f2;
    padding-bottom: 15px;
    border-radius: 40px 40px 0 0;
    position: relative;
    top: -60px;
    
}
.titre-intro-propriety{

    margin-left: 5px;
}
.border-titre{
    border-bottom: $color-tertiary 2px solid;
    width: 10%;
    margin-left: 5px;
    
}
.titre-propriety{
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 15px;
    font-size: 25px;
    font-family: $font-secondary;

  & .far{
      font-size: 25px;
      margin-top: 30px;
  }
}
.bloc-restaurant{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.bloc-restaurant-propriety{
    display: block;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
    padding-right: 15px;
    width: 90%;
    margin-left: 10px;

}
.description-restaurant{
    margin-left: 15px;
    margin-top: 5px;

    & h4{
        margin-top: 0;
        font-size: 17px;
    }
    & p{
        margin-top: -20px;
        padding-bottom: 5px;
        font-size: 14px;
    }
}
.restaurant-prix{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: -40px;
    padding-bottom: 15px;
    margin-bottom: 10px;

}
@media (min-width: 668px)and(max-width: 992px) //**Tablette version**//
{
    .img-menu{
        width: 100%;
        height: 50%;   
        max-height: 30%; 
    }
    #redimension-img{
       
        height: 512px;
    }
    .bordermenu{
        top: -200px; 
        font-size: 25px;
        margin-bottom: -200px;
    }
    .titre-propriety{
        font-size: 40px;

        & .far{
            font-size: 30px;
            margin-top: 55px;
        }
    }
    .bloc-restaurant-propriety{
       font-size: 30px;
       width: 95%;
    }
    .description-restaurant{
        font-size: 30px;

        & h4{
            font-size: 30px;
        }

        & p {
            font-size: 30px;
        }
    }
    .restaurant-prix{
        margin-right: 35px;
        margin-top: -70px;
        margin-bottom: 10px;
        padding-bottom: 30px;

    }
    .border-titre{
        margin-bottom: 15px;
    }
}